body{
    background: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5)), url(ads.jfif);
    background-size: cover;
    background-position: center;
}

.login-box{
    max-width: 700px;
    float: none;
    margin: 200px auto;
}

.login-left{
    background-color: rgb(112, 149, 96);
    padding: 30px;
    color: black;
}

.login-right{
    background: rgb(74, 216, 14);
    padding: 30px;
    color: black;
}

.form-control{
    background-color: transparent !important;
}